/***********************/
/* BELOW 704PX (Smaller Tablets */
/***********************/

@media (max-width: 44em) {
  .btn-share {
    display: none;
  }

  .btn-dots {
    display: block;
  }

  .text-links {
    margin-top: 2rem;
  }

  .footer {
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }

  .full-name {
    grid-template-columns: 1fr;
  }
}
